<h1>Reserva de Equipamento</h1>

<%= render 'form' %>
<br>
<%= link_to 'Ver pedido', @reserva_equipamento, class:'link_fim_pagina' %> |
<%= link_to 'Voltar', reserva_equipamentos_path ,class:'link_fim_pagina'%>
