@import "bootstrap-sprockets";
@import "bootstrap";

*{
	font-family: 'Roboto', sans-serif;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1{
	
	text-align:center;
	color: #003300;
}
.icone{
	background: image-url("padrao2.jpg");
}
.navbar-right .dropdown-menu{
	left:0;
}
.dropdown-menu{
	text-align: center;
	min-width: 10%;
}
.nome-site{
	font-family: "Heutica Neue", Times, serif;
	float:right;
	color: white;
	margin: auto;
	padding-right: 20%;
}

#form-cadastro{
	text-align: center;
	margin-top: 2%;
	
}
h2{
	color: #003300;
	text-align: center;
	margin-top: 2%;
}
.input{
	width: 30%;
	height: 30px;
	border-radius: 5px;
	border-color: white;
}

h4{
	font-family: "Heutica Neue", Times, serif;
	font-size:20px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 3%;
	padding-bottom: 5%;
	color: #003300;
}

body{
	background-color:  #d9f2e5;
}
#footer{
	margin-top:10%;
	background: image-url("padrao2.jpg");

	color:white;
	text-align: center;
	font-size:11px;
	width:100%;
	margin-bottom:0%;
	
}
p{
	margin-bottom:0px;
}
//pagina do usuario
h5{

	color: #003300;
	text-align: center;
	font-size:22px;
}
//cadastro
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
label{
	color: #003300;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
select{
	padding:7px;
}
// equipamentos
.tabela{
	border:1px solid black;
}
.header-tabela{
	background-color:#05170E;
	margin-bottom:0  ;
	font-family:'Roboto', sans-serif;
	color:white;
}
// Login
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}